#header {
    background-color: #328fdb;
}

body {
    padding-top: 130px;
}


#main-posts {
    padding: 5px;
}

#main-subs {
    padding: 5px;
}
 
.material-icons.orange { color: #FB8C00; }
.material-icons.blue { color: #4393fa; }

#signIn {
    float : right;
  }
  #header {
    margin : auto;
    text-align : center;
  }
  
  #subReddits {
    background : orange;
    display : inline;
  }
  
  table,td,th{
    border: 1px solid black;
  }
  
  #buttons{
    margin-bottom : 25px;
  }
  
  #vTable{
    font-size: 20px;
    margin-bottom: 10px;
  }


