#header {
    background-color: #328fdb;
}

body {
    padding-top: 130px;
}

#main-posts {
    padding: 5px;
}

#main-subs {
    padding: 5px;
}
 
.material-icons.orange { color: #FB8C00; }
.material-icons.blue { color: #4393fa; }

